body {
    font-family: Arial, sans-serif;
    background: #0a9398;
    text-align: center;
    padding: 50px;
}

.container {
    background: #60f0e6eb;
    padding: 100px;
    border-radius: 100px;
    width: 50%;
    margin: auto;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.544);
}

textarea {
    width: 80%;
    height: 150px;
    margin: 10px 0;
    padding: 40px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background: #2ac320;
    border: black;
    color: rgb(250, 250, 250);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #023010;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}